.form {
  &__text {
    font: var(--m_text3);
    color: var(--gray3);
  }

  &__content {
    position: relative;
    height: 2.9375rem;
    z-index: 1;
  }

  &__input {
    box-sizing: border-box;
    padding: 0 5.3125rem 0 1.25rem;
    margin: 0;
    border: 0;
    border-radius: 0.75rem;

    position: relative;
    height: 100%;
    width: fit-content;
    min-width: 100%;
    background-color: var(--gray6);
    color: var(--gray1);
    z-index: 2;

    &::placeholder {
      color: var(--gray4);
    }
  }

  &__button {
    padding: 0.6875rem 1.25rem;
    border: 0;
    border-radius: 0.75rem;
    height: 82.5%;
    position: absolute;
    right: 0.25rem;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--blue);
    color: var(--white);
    z-index: 3;
  }
}
