@use "../settings/mixins/breakpoints";

.form {
  &__text {
    font: var(--tiny);
    color: var(--gray3);
    margin-block-start: 0;

    &.is-white {
      color: var(--white);
    }
  }

  &__content {
    position: relative;
  }

  &__input {
    box-sizing: border-box;
    padding-block: 0.75rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 5.25rem;
    border: 0;
    border-radius: 0.75rem;
    inline-size: 100%;
    background-color: var(--gray6);
    color: var(--gray1);
    font: var(--small);
    &::placeholder {
      color: var(--gray4);
    }
  }

  &__button {
    padding-inline: 1.25rem;
    border: 0;
    border-radius: 0.75rem;
    position: absolute;
    inset-inline-end: 0.25rem;
    inset-block-start: 0;
    inset-block-end: 0;
    margin-block: 0.25rem;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font: var(--small);
  }

  @include breakpoints.large {
    &__text {
      font: var(--small);
    }

    &__button {
      padding-inline: 1.5rem;
      font: var(--button-medium);
    }

    &__input {
      padding-inline-end: 6rem;
      font: var(--button-medium);
      padding-block: 1rem;
      min-inline-size: 21.875rem;
    }
  }
}
