@use "../settings/mixins/breakpoints";

.services {
  margin-block-start: 6.25rem;

  &__title {
    font: var(--m_header4);
    inline-size: 16.1875rem;
    padding-inline-start: 2.0625rem;
    margin-block-end: 3rem;
    color: var(--gray1);
  }

  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.625rem;
    justify-content: center;
  }

  @include breakpoints.large {
    margin-block-start: 12.5rem;

    &__title {
      inline-size: 21.625rem;
      padding-inline-start: 0;
    }
  }
}
