.burger-btn {
  block-size: 1.25rem;
  inline-size: 1.5rem;
  padding-inline-end: 0;
  padding-inline-start: 0;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.burger-btn__line,
.burger-btn::after,
.burger-btn::before {
  background: var(--black);
  block-size: 0.1875rem;
  inline-size: 1.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.burger-btn::before {
  content: "";
  display: block;
  transform: translateY(0.625rem);
}

.burger-btn::after {
  content: "";
  display: block;
  transform: translateY(-10px);
}

.burger-btn--pressed .burger-btn__line {
  transform: translateX(-100%);
  opacity: 0;
}

.burger-btn--pressed::after {
  transform: rotate(45deg) translate(-0.125rem, -0.125rem);
}

.burger-btn--pressed::before {
  transform: rotate(-45deg) translate(-0.125rem, 0.125rem);
}

@media screen and (min-width: 1000px) {
  .burger-btn {
    display: none;
  }
}
