.home__wrapper {
  margin-inline-start: 30px;
  margin-inline-end: 40px;
  max-inline-size: 543px;
}
.home__wrapper:nth-of-type(2) {
  max-inline-size: 380px;
}

.home__link {
  font: var(--m_link1);
  text-decoration: none;
  color: var(--blue);
}

.home__title {
  color: var(--gray1);
  font: var(--m_header3);
  margin-block-end: 20px;
  margin-block-start: 0;
}
.home__wrapper:nth-of-type(2) .home__title {
  margin-block-start: 1.375rem;
  margin-inline-end: 3.125rem;
}

.home__img {
  margin: 0;
  overflow: hidden;
  border-radius: 1.125rem;
}

.home__img img {
  object-fit: contain;
  block-size: 100%;
  inline-size: auto;
  vertical-align: middle;
  max-inline-size: 100%;
}

.home__text {
  color: var(--gray2);
  font: var(--m_text1);
  margin-block-start: 25px;
  margin-block-end: 22px;
}

@media (min-width: 768px) {
  .home__wrapper {
    margin-inline-start: 100px;
    margin-inline-end: 325px;
  }
}
@media (min-width: 1000px) {
  .home__wrapper {
    margin-inline-start: 227px;
    margin-inline-end: 0;
  }

  .home__wrapper:nth-of-type(2) .home__title {
    margin-inline-end: 0;
    margin-block-start: 2.625rem;
  }
}
