.card-button {
  padding-inline: 0.75rem;
  padding-block: 0.5625rem;
  text-decoration: none;
  color: var(--gray3);
  background: var(--gray5);
  font: var(--m_button2);
  border-radius: 0.75rem;
  user-select: none;
  transition: color 0.3s, background 0.3s;
}
