@use "../../02-tools/mixins/breakpoints" as mixn_bp;
@use "../../02-tools/mixins/support" as *;

.header {
  inset-block-start: 0;
  position: sticky;
  z-index: 2;
  backdrop-filter: blur(5px);
  background: rgba(var(--white_trans));

  &__wrapper {
    display: flex;
    padding-block-end: 1rem;
    padding-block-start: 1rem;
    padding-inline-end: 1rem;
    padding-inline-start: 0.625rem;
    align-items: center;
    justify-content: space-between;
    max-inline-size: 90rem;
    margin-inline-end: auto;
    margin-inline-start: auto;
    box-sizing: border-box;
  }

  @include mixn_bp.large {
    &__wrapper {
      padding-inline-end: 1.5625rem;
      padding-inline-start: 1.5625rem;
    }
  }

  @include not-support(
    ("(backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px))")
  ) {
    background: var(--white);
  }
}
