.header {
  display: flex;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
  padding-inline-end: 1rem;
  padding-inline-start: 0.625rem;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin: 0;
  block-size: 1.5rem;
  inline-size: 3.465rem;
}

.header-logo img {
  block-size: 100%;
  inline-size: auto;
  vertical-align: middle;
}
