@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/poppins-v15-latin-300.woff2") format("woff2"),
    url("../assets/fonts/poppins-v15-latin-300.woff") format("woff");
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v15-latin-regular.woff") format("woff"),
    url("../assets/fonts/poppins-v15-latin-regular.ttf") format("truetype");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("../assets/fonts/poppins-v15-latin-500.woff") format("woff");
  /* poppins-700 - latin */
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/poppins-v15-latin-700.woff2") format("woff2"),
    url("../assets/fonts/poppins-v15-latin-700.woff") format("woff");
}
:root {
  --baseFont1: "Poppins", sans-serif;
  --baseFont2: "Heebo", sans-serif;

  /* mobile */

  --m_header1: 800 1.5rem / 2.2031rem var(--baseFont2);
  --m_header2: 500 1.125rem / 1.6875rem var(--baseFont1);
  --m_header3: 500 1.5rem / 2.25rem var(--baseFont1);
  --m_header4: 500 1.5rem / 2.25rem var(--baseFont1);
  --m_header5: 700 1.5rem / 2.25rem var(--baseFont1); /**/

  --m_link: 500 0.75rem / 1.125rem var(--baseFont1);
  --m_link: 400 1.125rem / 2.25rem var(--baseFont1); /**/

  --m_text1: 400 0.75rem / 1.125rem var(--baseFont1);
  --m_text2: 400 1rem / 1.5rem var(--baseFont1); /**/
  --m_text3: 500 0.625rem / 0.9375rem var(--baseFont1);

  --m_button1: 500 0.875rem / 1.3125rem var(--baseFont1);
  --m_button2: 500 1rem / 1.5rem var(--baseFont1); /**/

  /* desktop */

  --d_header1: 800 2.25rem / 3.305rem var(--baseFont2);
  --d_header2: 500 1.5rem / 2.25rem var(--baseFont1);
  --d_header3: 500 3rem / 4.5rem var(--baseFont1);
  --d_header4: 500 2.25rem / 3.375rem var(--baseFont1);
  --d_header5: var(--m_header5);

  --d_link1: 500 1.125rem / 1.6875rem var(--baseFont1);
  --d_link2: var(--d_header5);

  --d_text1: 400 1.125rem / 1.6875rem var(--baseFont1);
  --d_text2: var(--d_text2);
  --d_text3: 500 0.875rem / 1.3125rem var(--baseFont1);

  --d_button1: 500 1.125rem / 1.6875rem var(--baseFont1);
  --d_button2: var(--d_button2);

  /* colores */

  --white: #fff;
  --black: #000;

  --color1: #2D9CDB;
  --color2: #EB5757;
  --color3: #27AE60;

  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #BDBDBD;
  --gray5: #E0E0E0;
  --gray6: #F2F2F2;
}
