@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/poppins-v15-latin-300.woff2") format("woff2"),
    url("../assets/fonts/poppins-v15-latin-300.woff") format("woff");
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v15-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/poppins-v15-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("../assets/fonts/poppins-v15-latin-500.woff") format("woff");
  /* poppins-700 - latin */
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/poppins-v15-latin-700.woff2") format("woff2"),
    url("../assets/fonts/poppins-v15-latin-700.woff") format("woff");
}
:root {
  --baseFont1: "Poppins", sans-serif;
  --baseFont2: "Heebo", sans-serif;

  /* mobile */

  --m_header1: 800 24px / 35.2496px var(--baseFont2);
  --m_header2: 500 18px / 27px var(--baseFont1);
  --m_header3: 500 24px / 36px var(--baseFont1);
  --m_header4: 500 24px / 36px var(--baseFont1);
  --m_header5: 700 24px / 36px var(--baseFont1); /**/

  --m_link1: 500 12px / 18px var(--baseFont1);
  --m_link2: 400 18px / 36px var(--baseFont1); /**/

  --m_text1: 400 12px / 18px var(--baseFont1);
  --m_text2: 400 16px / 24px var(--baseFont1); /**/
  --m_text3: 500 10px / 15px var(--baseFont1);

  --m_button1: 500 14px / 21px var(--baseFont1);
  --m_button2: 500 16px / 24px var(--baseFont1); /**/

  /* desktop */

  --d_header1: 800 36px / 52.88px var(--baseFont2);
  --d_header2: 500 24px / 36px var(--baseFont1);
  --d_header3: 500 48px / 72px var(--baseFont1);
  --d_header4: 500 36px / 54px var(--baseFont1);
  --d_header5: var(--m_header5);

  --d_link1: 500 18px / 27px var(--baseFont1);
  --d_link2: var(--d_header5);

  --d_text1: 400 18px / 27px var(--baseFont1);
  --d_text2: var(--d_text2);
  --d_text3: 500 14px / 21px var(--baseFont1);

  --d_button1: 500 18px / 27px var(--baseFont1);
  --d_button2: var(--d_button2);

  /* colores */

  --white: #fff;
  --black: #000;

  --blue: #2d9cdb;
  --red: #eb5757;
  --green: #27ae60;

  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
}
