@use "../../02-tools/mixins/breakpoints" as mixn_bp;

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "big-photo small-photo"
    "big-photo medium-photo";
  gap: 0.5rem;
  max-inline-size: 24.0625rem;

  &__photo {
    margin: 0;
    overflow: hidden;
    border-radius: 1.5rem;

    img {
      vertical-align: middle;
      inline-size: 100%;
      block-size: auto;
    }

    &--big {
      grid-area: big-photo;
      align-self: center;
      justify-self: end;
    }

    &--medium {
      grid-area: medium-photo;
      inline-size: 10.4394rem;
      block-size: 10.1406rem;
    }

    &--small {
      grid-area: small-photo;
      inline-size: 9.0475rem;
    }
  }

  @include mixn_bp.large {
    max-inline-size: none;

    &__photo--big {
      inline-size: 320px;
    }

    &__photo--medium {
      inline-size: 291.43px;
      block-size: 300px;
    }

    &__photo--small {
      inline-size: 260px;
    }
  }
}
