// @forward "atoms/author";
@use "../../02-tools/mixins/breakpoints" as mixn_bp;

.testimonial {
  margin-block-start: 6.25rem;

  &__figure,
  &__blockquote,
  &__sentence {
    margin: 0;
  }

  &__sentence {
    font: var(--headline3);
    color: var(--gray1);
  }

  &__blockquote {
    max-width: 58.125rem;
  }

  @include mixn_bp.large {
    margin-block-start: 12.25rem;

    &__sentence {
      font: var(--headline2);
    }
  }
}
