@use "../../02-tools/mixins/breakpoints" as mixn_bp;

.author {
  margin-block-start: 2.5rem;
  display: inline-grid;
  grid-template-columns: auto auto;

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 1.75rem;
    justify-content: center;
    gap: 0.75rem;
  }

  &__image {
    margin: 0;
    block-size: 5.125rem;
    inline-size: 5.125rem;

    img {
      vertical-align: middle;
      border-radius: 0.625rem;
    }
  }

  &__name {
    margin: 0;
    font: var(--headline3);
    color: var(--gray1);
  }

  &__charge {
    margin: 0;
    font: var(--button-medium);
    color: var(--gray3);
  }
}
