@use "../../02-tools/mixins/icon-colors" as *;
@use "../../01-settings/variables/maps" as mapsIcons;
@use "../../01-settings/variables/colors" as *;

.card-icon {
  margin-block-end: 0.3125rem;
  block-size: 4.1875rem;
  border-radius: 1rem;
  color: var(--white);
  display: grid;
  font-size: 1.6875rem;
  inline-size: 4.1875rem;
  place-items: center;
  user-select: none;

  @include icon-colors(mapsIcons.$colors);
}
