:root {
  --fontBase: "Poppins", sans-serif;
  --headline1: 500 48px / 72px var(--fontBase);
  --headline2: 500 36px / 54px var(--fontBase);
  --headline2-bold: 800 36px / 54px var(--fontBase);
  --headline3: 500 24px / 36px var(--fontBase);
  --headline3-bold: 700 24px / 36px var(--fontBase);
  --subtitle: 400 18px / 27px var(--fontBase);
  --subtitle-medium: 500 18px / 27px var(--fontBase);
  --link: 400 18px / 36px var(--fontBase);
  --button: 400 18px / 27px var(--fontBase);
  --button-medium: 500 18px / 27px var(--fontBase);
  --normal: 400 16px / 24px var(--fontBase);
  --normal-medium: 500 16px / 24px var(--fontBase);
  --small: 500 14px / 21px var(--fontBase);
  --smaller: 400 12px / 18px var(--fontBase);
  --smaller-bold: 500 12px / 18px var(--fontBase);
  --tiny: 400 10px / 15px var(--fontBase);
}
